<section class="section reviews" id="reviews">
  <div class="container">
    <div class="section-header">
      <h2>What our <span class="underline">students</span> say</h2>
      <p class="section-description">
        Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact
      </p>
    </div>

    <ul class="reviews-list">
      <li class="reviews-card">
        <div class="reviews-info">
          <img
            class="reviews-photo"
            src="./img/feedback/anna-1x.webp"
            srcset="./img/feedback/anna-1x.webp 1x, ./img/feedback/anna-2x.webp 2x, ./img/feedback/anna-3x.webp 3x"
            alt="Anna"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="reviews-student">
            <h3 class="reviews-name">Anna</h3>
            <p class="reviews-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills.</p>
      </li>

      <li class="reviews-card">
        <div class="reviews-info">
          <img
            class="reviews-photo"
            src="./img/feedback/mykhailo-1x.webp"
            srcset="./img/feedback/mykhailo-1x.webp 1x, ./img/feedback/mykhailo-2x.webp 2x, ./img/feedback/mykhailo-3x.webp 3x"
            alt="Mykhailo"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="reviews-student">
            <h3 class="reviews-name">Mykhailo</h3>
            <p class="reviews-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas.</p>
      </li>

      <li class="reviews-card">
        <div class="reviews-info">
          <img
            class="reviews-photo"
            src="./img/feedback/victoria-1x.webp"
            srcset="./img/feedback/victoria-1x.webp 1x, ./img/feedback/victoria-2x.webp 2x, ./img/feedback/victoria-3x.webp 3x"
            alt="Victoria"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="reviews-student">
            <h3 class="reviews-name">Victoria</h3>
            <p class="reviews-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills.</p>
      </li>
    </ul>
  </div>
</section>
